main {
    display:flex; 
    flex-direction: row;
}

.round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
    
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:0.5; }

.round .game-spacer{
  flex-grow:1;
}

/*
*  General Styles
*/
body{
font-family:Arial, Helvetica, sans-serif;
font-size:medium;
padding:10px;
}

li.game {
    padding-left: 10px;
}

li.game.winner{
    font-weight:bolder;
}
li.game span{
    float:right;
    margin-right:px;
}
 /* this will create the border between the two teams */
li.game-top{ border-bottom:1px solid black; }
/* this will create the line and spacer between The first and second team */
   li.game-spacer{ 
    border-right:5px solid black;
    min-height:40px;
  }
li.game-bottom{
    border-top: 1px solid black;
}

.spacer {
    margin: 20px;
}
header {
    background-color: #fffefe;
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
  }
  section {
    margin: 0 8px;
  }
  
  .header-text {
      color: white;
      background: linear-gradient(rgb(0, 213, 255), rgb(0, 92, 128));
      border: double 5px white;
      border-radius: 1em;
      text-align: center;
      padding: 5px 0;
  }
  
  .header-text h1 {
      font-size: 1.5em;
  }

  .tournament {
      display: flex;
      flex-direction: row;
  }
  .tournament .round {
    font-size: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
  }
  
 
  .tournament-header {
    text-align: center;
    font-weight: bold;
  }
  .first-four {
    border: 1px solid #888;
    border-radius: 1em;
    background-color: #fe5200;
    padding: 0;
  }
  .first-four-winner li.game-left,
.round-1 li.game-left,
.round-2 li.game-left,
.round-3 li.game-left,
.round-4 li.game-left,
.semi-final li.game-left {
    padding-left: 0.5em;
}
.region {
    font-size: 1.5em;
    font-weight:bold;
}
.region-right {
    text-align:right;
  padding-right: 5px;
}
.region-left {
    text-align:left;
  padding-left: 5px;
}

ul.seed li.game-left span:first-child,
ul.seed li.game-right span:last-child {
    font-size: 0.5em;
}

li.game-right {
  text-align: right;
  border-left: 1px solid #000000;
}
li.game-left {
    border-right: 1px solid #000000;
}
li.game-bottom {
  border-bottom: 1px solid #000000;
}

li.game-top {
  border: none;
  border-bottom: 1px solid #000000;
}
li.game-left.spacer {
    border-right: 1px solid #000000;
    min-height: 5px;
    padding-right:.25em;
}
li.game-right.spacer {
    border-left: 1px solid #000000;
    min-height: 5px;
    padding-left:.25em;
    text-align: left;
}
#first4{
    font-style: oblique;
    text-align: center;
}
 






.congrats{
        position: relative;
        display: inline-block;
        cursor: pointer;
        
}

    
.congrats .popuptext {
    visibility: hidden;
    width: 1300px;
    height: 2000px;
    background-color: #555;
    color: goldenrod;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 25px;
    position: absolute;
  

  }
  .congrats .popuptext{
    background-image:url('marchMadnessWinners.png');
    
  
 
    
  }
  .congrats .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

  }
  .congrats .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  